
.title {
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    margin-top: 50px;
    transition: all .3s;
    @media (max-width: $mobile) {
        font-size: 28px;
        margin-right: 15px;
        margin-top: 30px;
    }

    &__span{
        color: $red;
    }

    &__big {
        font-size: 60px;
        @media (max-width: $mobile) {
            font-size: 48px;
        }
    }

    &__block {
        font-size: 48px;
        font-weight: 900;
        transform: rotate(-90deg);
        position: absolute;
        top: 100px;
        transition: all .3s;
        @media (max-width: $mobile) {
            font-size: 36px;
            top: 84px;
            left: -45px;
        }
    
        &::before {
            content: '';
            width: 50px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            right: -100px;
            top: -15px;
            transition: all .3s;
            @media (max-width: $mobile) {
                top: 40px;
            }
        }
        
        &::after {
            content: '';
            width: 650px;
            height: 2px;
            background-color: #000000;
            position: absolute;
            right: -50px;
            top: -15px;
            transition: all .3s;
            @media (max-width: $mobile) {
                top: 40px;
            }
        }
    }
}
.text {
    width: 70%;
    font-size: 24px;
    text-align: justify;
    margin: auto;
    color: #fff;
    margin-top: 40px;
    @media (max-width: $mobile) {
        font-size: 18px;
    }
    & p {
        margin-bottom: 10px;
    }
}

.black {
    color: #000;
}
.about {
    background: url('../images/shiny.jpg') no-repeat center left;
    background-size: cover;
    @media (max-width: $mobile) {
        height: 100vh;
    }
    @media (min-width: $mobile) {
        height: 50vh;
    }
    @media (min-width: $desktop) {
        height: 490px;
    }

}

.motel {
    position: relative;
    margin-top: 20px;


    &__number{
        margin: 50px 0 50px;
        @media (max-width: $mobile) {
            margin: 10px 0 10px;
        }

        &--fon{
            background: url('../images/redcar.jpg') no-repeat center right;
            background-size: cover;
            padding: 35px 0 35px;
            @media (max-width: $mobile) {
                padding: 10px 0 10px;
            }
        }
    }

    &__text {
        width: 90%;
        font-size: 24px;
        text-align: right;
        color: #000;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 35px 0 35px;
        @media (max-width: $mobile) {
            margin-bottom: 15px ;
        }

        & :nth-child(2) {
            margin-top: 90px ;
            @media (max-width: $mobile) {
                margin-top: 40px ;
            }
        }
    }

    &__photo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border: 2px solid #000;
        padding: 5px;
        &--black {
            border: 2px solid #fff;
        }
    }
    &__big {
        width: 100%;
        height: 400px;
        overflow: hidden;
        @media (max-width: $mobile) {
            height: 300px;

        }
    }
    &__img {
        display: block;
        overflow: hidden;
        @include size(100%);
        background-size: cover;
        background-position: center;
    }
    &__img2 {
        display: block;
        overflow: hidden;
        @include size(100%);
        background-size: cover;
        background-position: center;
    }
    &__img3 {
        display: block;
        overflow: hidden;
        @include size(100%);
        background-size: cover;
        background-position: center;
    }
    &__mini {
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        margin-top: 5px;
        width: 100%;
        @media (max-width: $mobile) {
            height: 70px;
        }
    }

}
.revers {
    align-items: flex-start;
    text-align: left;
    position: relative;
}
.white {
    color: #fff;
}
.cafe {
    background:url('../images/gruzovik.jpg') no-repeat bottom center ;
    background-size: contain;
    position: relative;

    &__menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bgr {
        background: url('../images/kafe.jpg') no-repeat center center;
        background-size: cover;
        height: 450px;
    }
    &__title {
        font-size: 48px;
        font-weight: 900;
        transform: rotate(-90deg);
        position: absolute;
        top: -750px;
        color: #000;
        border-bottom: 2px solid #000;
        width: 730px; 
        padding-top: 90%;
        padding-bottom: 10px;
        z-index: -1;
        @media (max-width: $mobile) {
            top: -100px;
            font-size: 36px;
            width: 150px; 
            padding-top: 82%;
            padding-bottom: 5px;
        }
        @media (max-width: $desktop) {
            top: -500px;
            width: 550px; 
            padding-top: 82%;
            padding-bottom: 5px;
        }
    }
    &__banket {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid #000;
    }
    &__img{
        width: 80%;
        display: block;
        @media (max-width: $mobile) {
            width: 90%;
        }
    }
    &__titleleft  {
        transform: rotate(-90deg);
        font-size: 48px;
        font-weight: 900;
        position: absolute;
        top: -300px;
        color: #000;
        border-top: 2px solid #000;
        width: 800px; 
        padding-top: 10px; 
        padding-left: 300px;
        padding-bottom: 90%;
        @media (max-width: $mobile) {
            top: 125px;
            left: -160px;
            font-size: 36px;
            width: 380px; 
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
    }

    &__button {
        background-color: #fff;
        font-size: 48px;
        font-weight: 900;
        border: solid 1px #000000;
        padding: 20px 60px;
        margin: 54px;
        z-index: 10;
        color: #000;
        text-decoration: none;
        &--span {
            font-weight: normal;
            font-size: 36px;
        }
        &:hover {
            color: $hover;
            transition: all .3s;
            text-decoration: none;
        }
        @media (max-width: $mobile) {
            font-size: 36px;
            padding: 15px 30px;
            margin: 25px;
            &--span {
                font-size: 24px;
            }
        }
    }
}

.contact {
    font-size: 36px;
    font-weight: normal;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 100px 0;
    position: relative;
    @media (max-width: $mobile) {
        font-size: 24px;
        margin: 30px 0 0;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &::before {
        content: '';
        width: 1000px;
        height: 2px;
        background-color: #000000;
        position: relative;
        top: -50px;
        right: -250px;
        @media (max-width: $mobile) {
            width: 90%;
            right: 0px;
            top: -20px;
        }
    }

    &::after {
        content: '';
        width: 2px;
        height: 520px;
        background-color: #000000;
        position: absolute;
        top: -150px;
        @media (max-width: $mobile) {
            right: 20px;
            height: 410px;
        }
    }
    &__title {
        font-weight: 900;
        text-align: right;
        font-size: 48px;
        margin-right: 30px;
        @media (max-width: $mobile) {
            font-size: 36px;
        }
    }
    &__tel{
        text-decoration: none;
        color: #000;
        font-weight: 900;
        &:hover {
            text-decoration: none;
            color: $hover;
            transition: all .3s;
        }
    }

    &__number {
        display: flex;
        justify-content: flex-end;
        @media (max-width: $mobile) {
            margin-bottom: 10px;
        }
    }
    &__phone{
        margin: 40px 30px 40px 0;
        @media (max-width: $mobile) {
            margin: 40px 30px 20px 0;
        }
    }
    &__text {
        width: 450px;
        text-align: right;
        margin-right: 30px;
        @media (max-width: $mobile) {
            width: 90%;
            margin-bottom: 10px;
        }
    }
}

.line {
    &__white {
        position: relative;
        
        &::after {
            content: '';
            width: 2px;
            height: 500px;
            background-color: #fff;
            position: absolute;
            right: -30px;
            top: -150px;
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__black {
        position: relative;
        
        &::after {
            content: '';
            width: 2px;
            height: 500px;
            background-color: #000;
            position: absolute;
            left: -30px;
            top: -150px;
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
}

.desctop {
    display: block;
    @media (max-width: $mobile) {
        display: none;
    }
}
.mobile {
    display: none;
    @media (max-width: $mobile) {
        display: block;
    }
}